[submodule "bs-solctra-mpi-rs"]
	path = bs-solctra-mpi-rs
	url = https://gitlab.com/CNCA_CeNAT/bs-solctra-repos/bs-solctra-mpi-rs.git
	branch = clei2026-presentation
[submodule "bs-solctra-implementations"]
	path = bs-solctra-implementations
	url = https://gitlab.com/CNCA_CeNAT/bs-solctra-implementations.git
	branch = clei2026-presentation
[submodule "Kernels"]
	path = Kernels
	url = https://github.com/caschb/Kernels.git
	branch = mpi-rust-pic
